* {
    font-family: "Lato"
}
.hero-search-filter {
    background: url("../images/MO-Cityscape.jpg") center center no-repeat;
    background-color: #8a8a8a;
    height: 500px;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-search-filter-logo {
    margin-bottom: 2rem;
}

.hero-search-filter-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 300px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-search-filter-menu {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media screen and (max-width: 39.9375em) {
    .hero-search-filter-menu li {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .hero-search-filter-menu li a {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.hero-search-filter-menu a {
    color: #fefefe;
    font-weight: bold;
}

.hero-search-filter-menu a .fa {
    font-size: 1.125rem;
    font-weight: normal;
    text-decoration: none;
}

.hero-search-filter-menu a:hover {
    text-decoration: underline;
}

.hero-search-filter-form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    background: #fefefe;
    padding: 0.25rem;
    border-radius: 5px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-search-filter-form .divider {
    background-color: #cacaca;
    width: 1px;
}

.hero-search-filter-form label {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: #8a8a8a;
    font-weight: bold;
}

.hero-search-filter-form input,
.hero-search-filter-form .button {
    margin-bottom: 0;
}

@media screen and (max-width: 39.9375em) {
    .hero-search-filter-form {
        width: 95%;
    }
}

.hero-search-filter-form-find,
.hero-search-filter-form-near {
    border: 0;
    box-shadow: none;
}

.hero-search-filter-form-find:focus,
.hero-search-filter-form-near:focus {
    border: 0;
    box-shadow: none;
}

#results-body {
    background-color: #0a0a31;
    overflow-y:overlay
}



.card {
    box-shadow: 0 .5rem 1rem hsl(0 0% 0% / 20%);
    border-radius: 5px;
    background-color: #0a0a31;
    /* border-color: #9F2C3F; */
    border: none;
    color :white;
    padding: 5px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

  .result-card {
    position: relative;
  }
  
  .close-btn {
      position: absolute;
      top: -3px;
      right: -3px;
  }
  .result-card .card:hover {
    box-shadow: -2px -2px 3px rgba(255,255,255,0.05),
    2px 2px 3px rgba(70,70,70,0.05);
  }
